{% extends 'base.html' %}

{% block css %}
<link href="//shenjunyuan.github.io/assets/css/article.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block heading %}
  {% if articleForm.instance.id %}
    修改文章
  {% else %}
    新增文章
  {% endif %}
{% endblock %}
{% block content %}

{% if articleForm.instance.id %}
  <form method="post" action="{% url 'articleUpdate' articleForm.instance.id %}">
{% else %}
  <form method="post" action="{% url 'articleCreate' %}">
{% endif %}

  {% csrf_token %}
  {{ articleForm.as_p }}
  <input class="btn" type="submit" value="送出">
  <a class="btn" href="{% url 'article' %}">放棄</a>
</form>
{% endblock %}