{% extends 'base.html' %}

{% block css %}
<link href="//shenjunyuan.github.io/assets/css/article.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block heading %}歡迎蒞臨{% endblock %}
{% block content %}
{% include 'searchForm.html' %}
{% if user.username %}
  <p class="inlineBlock"><a class="btn" href="{% url 'articleCreate' %}">新增文章</a></p>
{% endif %}
<br><br>
<hr>

{% for article in articles %}

  <h3 class="inlineBlock"><a href="{% url 'articleRead' article.id %}">{{ article.title }}</a></h3>

  <p>{{article.user}}</p>
  <p>發表時間：{{ article.pubDateTime|date:'Y-m-d H:i' }}</p>
  <div class="articleContent">{{ article.content|linebreaks|truncatechars_html:30 }}</div>
  <p class=like>
    <img id=like src="https://github.com/shenjunyuan/shenjunyuan.github.io/blob/master/assets/img/like.png?raw=true" alt="Like"> {{ article.likes.count }}
  </p>
  {% for comment in article.comments %}
    <div class="commentDiv">
      <span class="commentAuthor">{{ comment.user.fullName }}</span>
      <span class="comment">{{ comment.content }}</span>
      <br>
      <span class="commentTime">{{ comment.pubDateTime|date:'m月d日 H:i' }}</span>
    </div>
  {% endfor %}
  <hr>
{% endfor %}
{% endblock %}
{% block script %}

{% endblock %}