<!-- templates/post.html -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ post.title }} | 測試用blog</title>
    <link href="//fonts.googleapis.com/css?family=Lemon" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="//djangogirlstaipei.github.io/assets/css/style.css" rel="stylesheet" type="text/css">
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=false"></script>
    <script src="//djangogirlstaipei.github.io/assets/js/map.js"></script>
</head>
<style>
     .deleteB{
        background-color:#FF0000;
        color:#fff;
        border-radius:10px;
        cursor:pointer;
        font-size: 25px;
        }
    .createB{
        background-color:#00FFFF;
        color:#fff;
        border-radius:10px;
        cursor:pointer;
        font-size: 25px;z
        }
</style>
<body>
<div>

    <div class="header">
        <h1 class="site-title text-center">
            <a href="/home">測試用blog</a>
        </h1>
    </div>

    <form action="{% url 'post_delete' post.id %}" method='post'>
        {% csrf_token %}
        <button class='deleteB' type='submit' onclick='return confirm("是否確定刪除")'>刪除文章</button>
    </form>

    <form action="{% url 'post_update' post.id %}" method='get'>
        {% csrf_token %}
    <button class='createB' type='submit'>修改文章</button>

    <div class="container post post-detail">
        <div class="post-heading">
            <h1class="title">{{ post.title }}</h1>
            <div class="date">{{ post.created_at|date:'Y / m / d' }}</div>
        </div>
        <div class="location">
            <i class="fa fa-map-marker"></i>
            <span id="location-content">{{ post.location }}</span>
        </div>
        <div id="map-canvas" class="map"></div>
        <div class="post-content">
            {{ post.content }}
        </div>
        <hr class="fancy-line">
        <img class="photo" src="{{ post.photo }}" alt="Cover photo for {{ post.title }}">
    </div>

</body>
</html>