<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/68f8681dba.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>bootstrap練習</title>
</head>

<body>

    <header>
        <div class='container'>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                    <img src={% static "main/img/logo.jpg" %}>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#latest">最新活動 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">常見問題 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#footer">聯絡我們 <span class="sr-only">(current)</span></a>
                    </li>
                    </ul>

                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </header>

    <section id='intro'>
        <div class='jumbotron'>
            <div class='container'>
                <div class='row'>
                    <div class='col-md-12'>
                        <h1>重要活動</h1>
                        <p class='lead'>生活太無聊嗎？加入我們一起玩吧！</p>
                        <a class='btn' href='#'>參加活動</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id='second'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-8 offset-md-2 text-center'>
                    <h3>關於我</h3>
                    <div class='row'>
                        <div class='col-md-4'>
                            <img src={% static "main/img/inner.png" %}>
                            <h5>勝軍shejun</h5>
                        </div>
                        <div class='col-md-8 text-left'>
                            <p class='lead'>曾在研能科技擔任MIS</p>
                            <p>工作接觸過oracle SQL結合SmartQuery報表開發、資訊設備採買、windows AD維護、mail server管理等</p>
                            <p>離職後在家自學python/django架站，並製作一些網站相關作品</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id='latest'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-12 text-center'>
                    <h3>最新活動<h3>
                    </div>

                    <div class='row'>
                        <div class='col-md-4 text-left'>
							  	<div class='outer'>
                                    <a href='#'>
                                        <div class='upper'>
									    		<img src='pictures/inner.png'>
									    		<div class='innertext'>
									    			<span>可報名</span>
									    			<h4>男：NT:380  女：NT:280</h4>
									    		</div>
									    </div>
									    <div class='lower'>
									    	<h3>狂歡派對（旅行篇） - 11月</h3>
									    	<span><i class="fas fa-map-marker-alt"></i>桃園市大園區田心里華興路</span>
                                            <br>
									    	<span><i class="far fa-clock"></i> Nov 03, 2018 08:00PM</span>
									    </div>
                                    </a>
                                </div>
                        </div>

                        <div class='col-md-4 text-left'>
							  	<div class='outer'>
                                    <a href='#'>
                                        <div class='upper'>


									    		<img src={% static "main/img/inner.png" %}>
									    		<div class='innertext'>
									    			<span>可報名</span>
									    			<h4>男：NT:380  女：NT:280</h4>
									    		</div>
									    </div>
									    <div class='lower'>
									    	<h3>狂歡派對（旅行篇） - 11月</h3>
									    	<span><i class="fas fa-map-marker-alt"></i>桃園市大園區田心里華興路</span>
                                            <br>
									    	<span><i class="far fa-clock"></i> Nov 03, 2018 08:00PM</span>
									    </div>
                                    </a>
                                </div>
                        </div>

                        <div class='col-md-4 text-left'>
							  	<div class='outer'>
                                    <a href='#'>
                                        <div class='upper'>
									    		<img src={% static "main/img/inner.png" %}>
									    		<div class='innertext'>
									    			<span>可報名</span>
									    			<h4>男：NT:380  女：NT:280</h4>
									    		</div>
									    </div>
									    <div class='lower'>
									    	<h3>狂歡派對（旅行篇） - 11月</h3>
									    	<span><i class="fas fa-map-marker-alt"></i>桃園市大園區田心里華興路</span>
                                            <br>
									    	<span><i class="far fa-clock"></i> Nov 03, 2018 08:00PM</span>
									    </div>
                                    </a>
                                </div>
                        </div>



                    </div>

            </div>

        </div>
    </section>

    <section id='email'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-8 offset-md-2 text-center'>
                    <h3>活動通知</h3>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-8 offset-md-2 text-left'>
                    <p>讓我們有最新活動便通知你吧！</p>

                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="你的e-mail">

                    </div>
                    <a class='btn' href='#'>提交</a>
                </div>

            </div>


        </div>

    </section>

   <section id='footer'>
        <div class='container'>
            <div class='row'>
                <div class='col-md-4 test-left'>
                    <img src={% static "main/img/logo.jpg" %}>
                    <p>生活太無聊嗎？加入我們一起玩吧</p>
                </div>
                <div class='col-md-4 test-left'>
                    <h4>連結</h4>
                    <ul>
                        <li><a href='#'>主頁</a></li>
                        <li><a href='#'>最新活動</a></li>
                    </ul>
                    <ul>
                        <li><a href='#'>常見問題</a></li>
                        <li><a href='#'>聯絡我們</a></li>
                    </ul>

                </div>
                <div class='col-md-4 test-left'>
                    <h4>聯絡我們</h4>
                    <p>桃園市大園區田心里華興路<br>
                        Phone: 0988-836-551<br>
                        E-Mail: <a href='#mailto:xxx@gmail.com'>h14736985@gmail.com</a>
                    </p>

                </div>
            </div>
        </div>
    </section>


</body>
</html>